@import "MainPage.css";

.nav-bar {
  position: static;
  top: 0vh;
  height: 70px;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.nav-btn {
  color: var(--secondary-color);
}

.nav-btn:hover {
  font-weight: bold;
}