.run-container {
  position: fixed;
  bottom: 40vh;
  left: 50vw;
  font-size: 30px;
  animation-name: enter;
  animation-duration: 2s;
}


@keyframes enter {
  0% {
    opacity: 0;
    bottom: 0vh;
    left: 50vw;
  }

  100% {
    opacity: 1;
    bottom: 40vh;
    left: 50vw;
  }
}