body,
html {
  margin: 0;
  font-family: 'Roboto';
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #16161A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26262C;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2F2F37;
}

.code {
  font-family: 'Source Code Pro';
}

.pointer {
  cursor: pointer;
}